$blue: #4a90e2;

.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title {
  color: $blue;
  font-size: 100px;
  font-weight: 100;
  margin-bottom: 20px;
}

.slogan {
  color: $blue;
  font-size: 35px;
  font-weight: 100;
  line-height: 55px;
  text-align: center;
}
