$white: #fff;

.container {
  display: flex;
  height: 110px;
  margin: 10px;
}

.content {
  background-color: $white;
  border-radius: 3px;
  flex: 1;
  font-size: 18px;
  padding: 8px 10px;
  resize: none;
}
