$blue: #1877e6;
$grey: #c6c6c6;
$white: #fff;

.new-duck-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 11px;
  color: $blue;
  background-color: $white;
}

.pointer {
  cursor: pointer;
}

.submit-duck-btn {
  display: block;
  width: 150px;
  margin: 0 auto;
  text-align: center;

  &:disabled {
    background-color: $grey;
    border: 1px solid $grey;
  }
}
